
{% extends 'base.html' %}

{% block title %}About Us - Amala Hospital{% endblock %}

{% block content %}
{% load static %}
<h2>About Amala Hospital</h2>

<p>
    Amala Hospital was founded with a mission to provide exceptional, compassionate healthcare to all.
    With over 25 years of service, we’ve grown into one of the most trusted medical institutions in the region.
</p>
<div class="card" style="width: 18rem;" >
 
  <div class="card-body text-center">
    <h5 class="card-title">Our Mission</h5>
    <p class="card-text">  To deliver world-class care through innovation, excellence, and empathy.
    
  </div>
</div>

<div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Our Vision</h5>
    <p class="card-text">  To be a leading healthcare provider known for quality, ethics, and accessibility.</p>
    
  </div>
</div>


<h3>Why Choose Us?</h3>
<ul>
    <li>24/7 Emergency & ICU Services</li>
    <li>Skilled doctors & compassionate staff</li>
    <li>Advanced diagnostics & surgical tech</li>
    <li>Affordable, patient-first approach</li>
</ul>
{% endblock %}

