{% extends "base.html" %}

{% block title%}Home
{%endblock%}
{% load static %}
{% block content%}
<div class='container text-center'>
    {% for d in doctors %}
    <div class="card text-center" style="width: 18rem;display:inline-block">
        <img src="{{d.doc_image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dr.{{d.doc_name}}</h5>
            <p class="card-text"> {{d.doc_sep}}</p>
            <h2>{{d.dep_name}} Department </h2>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}